.container {
  max-width: 660px;
  margin: 5.7em auto;
  padding-left: 20px;
  padding-right: 20px;
}


.column {
  display: inline-block;
  width: 33.3%;
}

@media (min-width: 768px) {
  .container {
  }
}
