{
  "presets":[
    "es2015",
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "ui": "./app/ui",
        "components": "./app/src/components",
        "actions": "./app/src/actions",
        "styles": "./app/styles"
      }
    }]
  ]
}
