{
  "presets":[
    "es2015",
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "ui": "./app/ui",
        "styles": "./app/styles"
      }
    }]
  ]
}
