.result {
  margin-top: 40px;
}

.link {
  margin-right: 50px;
  composes: primaryColor from '../../../styles/_palette.css';
  composes: robotoRegular from '../../../styles/_typography.css';
  composes: noUnderline from '../../../styles/_utils.css';
}

.shortcode {
  composes: accentColor from '../../../styles/_palette.css';
  background: transparent;
}

.target {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
  margin-bottom: 5px;
  composes: robotoLightSmall from '../../../styles/_typography.css';
  composes: uninmportant from '../../../styles/_typography.css';
}

.info {
  composes: primaryColor from '../../../styles/_palette.css';
  composes: robotoLightSmall from '../../../styles/_typography.css';
}

@media (min-width: 768px) {
  .target {
    margin-bottom: 0;
    width: 320px;
  }
}
